[2017-03-24 06:58] Rajkamalsingh23 opened #1 "Lok Dhaba spelling"
"Lok Dhaba" -- This should be the spelling of Lok Dhaba going forward. Let's check this on the website as well as the Lok Dhaba's website.

[2017-03-24 06:59] nissabasim opened #2 "Overlapping of the title and the source"
![newplot 4](https://cloud.githubusercontent.com/assets/26618099/24283740/7ca697d2-108d-11e7-891d-ad2feb8978fc.png)

Unlike this plot, the title of the plot and the source of the data tend to overlap when viewed on the browser

[2017-03-24 07:07] hangal opened #3 "RFE: system to attach notes with various pieces of data"
Special notes can be attached with data items.
If that data item is involved in a plot or map, the note an be displayed below.
e.g. Congress did not contest in 1980 elections, or it was called by a different name, etc.

[2017-03-24 07:38] Rajkamalsingh23 opened #4 "Log in and registration feature on the Lok Dhaba website"
@chinuhub please use the four pages that we previously had on Lok Dhaba to add login and registration feature on the current Lok Dhaba shiny version.

Let's make it as simple as possible.
1. They should accept the terms and conditions.
2. They should provide their email address and institution name. Although, institution name should not be mandatory.

[2017-03-24 15:08] Rajkamalsingh23 opened #5 "Legend break up for turnout map"
Please add 70-80 as a level in the legend for turnout map

[2017-03-24 16:32] tcpd commented on #4
This is probably too much work. We can probably do Oauth instead, if anything.
I'd assign this low priority.
-S

[2017-03-25 05:01] hangal opened #6 "Disconnection problem with Shiny"
Shiny is having trouble if connection drops.

[2017-03-25 06:54] yaminiagarwal opened #7 "Error display in Visualization Type NOTA Turnout before 2014"
On Election Data Visualization Tab on the HomePage, we go to the AE section. On choosing the tab _NOTA, the result displayed on screen is “ no rows to aggregate” . (Andhra Pradesh, Maharashtra, Manipur, Arunachal Pradesh, Meghalaya, Mizoram, Assam , Nagaland, Madhya Pradesh,Gujarat, Kerala, J&K)

So, the years before 2014 in the dropdown list can be removed and maps 2014 onwards can be displayed.

[2017-03-25 06:54] rohitrawat1 opened #8 "graphs do not appear until some options are checked/unchecked in the menu on the left side"
Example - In Haryana and Chattisgarh, when we choose visualisation "no. of candidates", we need to unselect options to get a graph on the tab. Needs to be checked for all the states.

[2017-03-25 06:55] surabhimitra opened #9 "Visualization Type Error - Candidates Who Saved Their Deposits"
Step 1 - Open Lok Dhaba and then AE tab
Step 2 - Choose any state (Himachal Pradesh ,Uttar Pradesh,Madhya Pradesh,Maharashtra,Uttarakhand, Tripura,Arunachal Pradesh,Sikkim, Rajasthan,Meghalaya,Assam,Punjab, Mizoram, Bihar, Puducherry ,Nagaland ,Delhi ,Chhatisgarh, Goa, Karnataka ,Kerala, Haryana, Jammu and Kashmir, Jharkhand)
Step 3 - Choose Visualization type  "Candidates who saved their deposits

[2017-03-25 07:03] yaminiagarwal commented on #7
Also persists for the GE Tab under the Election Data Visualization Tab on the HomePage.

[2017-03-25 07:22] surabhimitra opened #10 "Issue - Disconnected From Server"
Step 1 - Open the Lok Dhaba website and choose AE tab
Step 2 - Then choose any of the following states ( “Andaman and Nicobar”, “Goa, Daman and Diu” , “Chandigarh”, “Dadra and Nagar Haveli”, “Daman and Diu”, “Lakshadweep” ).
Step 3 - From the Visualization type drop down list, pick any option. Then the screen displays the following "disconnected from server". There is a option to reload the page.

[2017-03-25 07:26] rohitrawat1 opened #11 "Visualisation error - Legend overlapping with map"
Step 1 - Select AE
Step 2 - Vote share of Party winners: Map
Step 3 - Select any year, let's say 2014. Select a party name.

Map which appears overlaps with the Legend.

![screen shot 2017-03-25 at 12 54 21 pm](https://cloud.githubusercontent.com/assets/26667092/24320390/41abd156-115a-11e7-982a-5346cbbe1ac1.png)

[2017-03-25 07:34] yaminiagarwal opened #12 "Key of "Constituency Wise Party Winners" Map has same colours"
Step 1 - Open Lok Dhaba and then AE tab
Step 2 - Choose any state (Manipur, Maharashtra, Meghalaya, Mizoram, Nagaland, Karnataka, Arunachal Pradesh)
Step 3 - Choose Visualization type "Constituency Wise Party Winners"
Issue- In the legend of the map, two (or more than two) parties are being represented by the same colour.
![image](https://cloud.githubusercontent.com/assets/26666904/24320433/35addd

[2017-03-25 07:37] surabhimitra opened #13 "Design Of The Graphs"
Step 1 - Go to Lok Dhaba and subsequently the AE tab.
Step 2 - Choose any state name from the drop down list.
Step 3 - Choose the "Party wise Vote Share Option" and a graph is displayed. Certain designing issues are present with the graph.
a) the orientation of the graph is improper.
b) There is no label on the X- axis.
c) the title of the graph and source is merging.
This problems persist in both

[2017-03-25 07:38] rohitrawat1 opened #14 "The tabs "Contact Us" and "How to cite us" are not working"
Home page - tab Contact Us - not working
Home Page - tab How to cite us - not working

![screen shot 2017-03-25 at 1 06 51 pm](https://cloud.githubusercontent.com/assets/26667092/24320472/f7263a3e-115b-11e7-888c-bc9195bc37a3.png)

[2017-03-25 07:44] yaminiagarwal opened #15 "Error obtained for "Constituency wise party winners" or "Number of candidates" in GE Tab"
Step 1- Go to Election Data Visualization Tab, go to GE Section
Step 2- Go to the tabs "Constituency wise party winners" or "Number of candidates"
Step 3- Select any year
Issue- An error object 'ac_name' not found is received.
![image](https://cloud.githubusercontent.com/assets/26666904/24320492/5bf524ac-115c-11e7-8aaa-73907ea33038.png)

[2017-03-25 07:50] rohitrawat1 opened #16 "Vote share for Party winners: Error Message"
Step 1 - Select state: Madhya Pradesh
Step 2 - Vote share of party winners: Map
Error message appears
The error also exists for other states like Maharashtra,Meghalaya, Manipur, Nagaland, Delhi, Mizoram

![screen shot 2017-03-25 at 1 18 06 pm](https://cloud.githubusercontent.com/assets/26667092/24320558/86bb8fa4-115d-11e7-90a6-cd98243c81c8.png)

[2017-03-25 07:52] surabhimitra opened #17 "Maps"
Design Of the Maps
Example - If we choose the AE tab and select Kerala and visualization type Voter Turnout Map then we get a map, with certain options. When all the options are unselected, then the colour of the map does not go white. A screenshot is attached here.
This is the case for almost all the maps in Lok Dhaba
![image](https://cloud.githubusercontent.com/assets/26666903/24320561/912348a6-

[2017-03-25 07:53] yaminiagarwal opened #18 "Dropdown in the Analysis: 2017 elections tab for UP and UK"
Step 1-Go to Analysis: 2017 elections tab
Step2 - Select Uttar Pradesh from the dropdown list
Issue- The entire document is in bold.
Or
Step 2- Select Uttarakhand from the dropdown list
Issue-It does not direct us anywhere.

[2017-03-25 07:59] surabhimitra opened #19 "Persistent Error Messages"
Step 1 - Under the AE tab choose the state Kerala, and visualization type as Nota,
Step 2 - Error message is displayed.
Step 3 - If we change the visualization type to“Party wise positions” , it still shows an error.
Step 4 - On reloading the page and choosing the “Party wise option”, we get the correct details, as reflected by the third picture.
It is also true for other states like Jharkhand
![i

[2017-03-25 08:00] yaminiagarwal opened #20 "Unshaded Areas under Visualization Tab of Mizoram and Delhi"
Step 1 - Go to Election Data Visualization and then AE tab
Step 2 - Choose Mizoram(also present in Delhi under the type "Constituency wise Party winners")
Step 3 - Choose Visualization type "Winning Margin of Party Winners: Map" or "Constituency Type Party Winners"
Issue- The southern region is unshaded for these visualization type
![image](https://cloud.githubusercontent.com/assets/26666904/24320

[2017-03-25 08:00] rohitrawat1 opened #21 "Error message - Winning margin of party winners: Map"
Step 1 - Select State Name: Madhya Pradesh
Step 2 - Winning margin of Party winners: Map
Error message appears - The error is also there for Nagaland and J&K.

![screen shot 2017-03-25 at 1 26 56 pm](https://cloud.githubusercontent.com/assets/26667092/24320611/c483cc2e-115e-11e7-9bc3-f1f4b246e63b.png)

[2017-03-25 08:08] rohitrawat1 opened #22 "Error Message - Voter turnout Map: Madhya Pradesh"
Step 1 - Select AE - Madhya Pradesh and Voter Turnout Map.
Error message appears.

![screen shot 2017-03-25 at 1 37 17 pm](https://cloud.githubusercontent.com/assets/26667092/24320694/34903010-1160-11e7-93d6-33c4ad1261f0.png)

[2017-03-25 08:12] surabhimitra opened #23 "Visualization - Constituency Wise Party Winners"
Step 1 - Choose state name Goa under the AE tab. Choose "Constituency Wise Party Winners" option.
Step 2 - If we un-check a party name the colour in the map does not go white
Problem with all the states (Goa, Kerala, Chhatisgarh, Assam, Andhra Pradesh)
A) When all the options are selected
![image](https://cloud.githubusercontent.com/assets/26666903/24320711/92365122-1160-11e7-8ef1-6c9eeb631d67.png

[2017-03-25 08:13] yaminiagarwal opened #24 "Problem with the display of keys in the legend of Maps"
Step 1 - Go to Election Data Visualization and then AE tab
Step 2 - Choose any state (Delhi,Maharashtra, Mizoram)
Step 3 - Choose Visualization type "Winning Margin of Party Winners: Map" or "Constituency Type Party Winners"
Issue- The legend is not uniform, i.e., the keys are displayed haphazardly.
![image](https://cloud.githubusercontent.com/assets/26666904/24320728/df8b894c-1160-11e7-940c-41bb1

[2017-03-25 08:16] rohitrawat1 opened #25 "Error Message: No. of candidates - Madhya Pradesh"
Step 1: Select AE - Madhya Pradesh - Number of candidates: Map
Error message appears.

![screen shot 2017-03-25 at 1 45 43 pm](https://cloud.githubusercontent.com/assets/26667092/24320745/63915f5a-1161-11e7-94fd-2c8322f2f516.png)

[2017-03-25 08:19] yaminiagarwal opened #26 "Error in the "Candidates Who saved their deposits" tab"
Step 1-Go to Election Data Visualization then AE tab
Step 2- Choose Nagaland, Andhra Pradesh
Step 3- Select the "Candidates Who saved their deposits" tab from the dropdown list
Issue- Display of error:  could not find function "d3radar"
![image](https://cloud.githubusercontent.com/assets/26666904/24320757/a263a62a-1161-11e7-97aa-477a4848d74e.png)

[2017-03-25 11:50] hangal commented on #18
This will be addressed by simply removing the report.

[2017-03-25 11:50] #18 closed, assigned to chinuhub

[2017-03-25 11:54] hangal commented on #11
Suggest some text to tell users that they can use drag / zoom controls.

[2017-03-25 11:55] hangal commented on #10
This is a general problem, not related to a particular state.

[2017-03-25 11:56] hangal commented on #10
repeat of #6, closing.

[2017-03-25 11:56] #10 closed, assigned to chinuhub

[2017-03-26 20:48] hangal commented on #6
@chinuhub One thing to try is to remove nginx from the equation and connect to Shiny directly. Does it still cause a problem?

[2017-03-27 18:24] chinuhub commented on #6
I think I found the issue. It seems that there is an option that allows client to force try reconnecting once the network comes back. On the server side, if the network failure was less than 15 seconds then the server retains the connection and comes back when the client becomes available. You can now observer this behaviour with the current deployed version of lokdhaba as well (after adding a fun

[2017-03-27 18:26] chinuhub commented on #26
Fixed. This issue was because of the leftover of radar library.

[2017-03-27 18:26] #26 closed, assigned to chinuhub

[2017-03-27 18:37] chinuhub commented on #25
Fixed. The name of the shape file was not following the convention. Therefore the file was not found during the map drawing. Corrected the name by converting 'Con' to 'con.

[2017-03-27 18:37] #25 closed, assigned to chinuhub

[2017-03-27 18:50] hangal commented on #6
what URL to try this on? ld-shiny or shiny-2?

If more than 15 secs what is needed?
is this related to the idea of having entire state of session (filters and viz) encoded in the URL, so that the URL for a particular viz. can be shared? If we can solve that problem also, it will be very nice.

[2017-03-27 18:53] chinuhub commented on #24
Closing this issue as I am not able to reproduce it.

[2017-03-27 18:53] #24 closed, assigned to chinuhub

[2017-03-27 18:54] hangal commented on #24
btw, generally only the person opening the issue is supposed to close it.

@Rajkamalsingh23 fyi.

[2017-03-27 18:55] chinuhub commented on #14
Fixed.

[2017-03-27 18:55] #14 closed, assigned to chinuhub

[2017-03-27 18:59] hangal opened #27 "Naming of tabs on front page"
Please call them General Elections/Assembly elections instead of GE/AE.
![image](https://cloud.githubusercontent.com/assets/1018175/24373036/db124df8-12e4-11e7-8bff-4dd94c20be2d.png)

[2017-03-27 19:20] chinuhub commented on #6
ld-shiny.

If the failure is more than 15 second then the server loses the state (input values) associated with this connection. Interestingly, when client comes back it sends the set of inputs back to server hoping that server can resume its last state (when client lost connection) only by looking at inputs. However, there is no ordering among these inputs (which are passed from client to server)

[2017-03-27 19:21] chinuhub commented on #27
Fixed.

[2017-03-27 19:21] #27 closed, assigned to chinuhub

[2017-03-27 20:09] hangal commented on #6
So why is it difficult to impose ordering? Isn't it in our control?

On Mon, 27 Mar 2017 at 12:20 PM, chinuhub <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2017-03-28 05:22] hangal opened #28 "Release mechanism and labelling"
There should be a formal build and release process for deploying LD.

A deployed LD site should reflect its version somewhere (in an About option somewhere, or in the footer). It can also reflect its git commit id, for easy tracking. A formal build should always have a git commit id, and git should not be allowed to be dirty when building it, to ensure the build can always be reproduced.

[2017-03-29 05:03] nissabasim opened #29 "Spelling mistake in terms and conditions"
'The' has been spelt as 'teh'.

The user must include the citation for data they use in the manner indicated through 'How to Cite' information mentioned on the top of this web page. The user must not claim or imply that the Trivedi Centre for Political Data endorses **## teh** user's use of the data or use of the Centre's logo(s) or trademarks(s) in conjunction with the same.

[2017-03-30 09:02] Rajkamalsingh23 opened #30 "Data download fixes"
1. We need to remove the red header where we have written " Code Book (Meaning of the variables present in data". Instead of this we can have a simple heading "Variable Names and Description".

2. We need to have a clear all/select all option where the assembly are listed. This is in reference to the left side box where we have "select assembly" written.

3. We need to be able to make from the top

[2017-03-31 04:20] chinuhub commented on #30
@Rajkamalsingh23 I have made the changes. Please have a look at the current deployed version

[2017-03-31 04:23] chinuhub commented on #2
@nissabasim I have added the fix. Please have a look and comment.

[2017-03-31 04:23] chinuhub commented on #1
@Rajkamalsingh23 corrected. Have a look and comment.

[2017-03-31 09:56] Rajkamalsingh23 commented on #30
@chinuhub can we not have all assemblies selected by default. It is redundant if the button there is of select all and by default all boxes are checked for assemblies.

Also, I think the check box of terms and conditions should not be checked by default.

[2017-03-31 10:01] #1 closed, assigned to sudesh-ashoka

[2017-03-31 11:18] chinuhub opened #31 "Duplicate polygons in map files for 13 states"
There are 13 maps which have serious issues that will reflect on the counting features (number of constituencies satisfying a particular property). I had fixed uttarakhand earlier asssuming that it would be one off issue but now after running consistency checks I found issues with 13 maps. The issue is as folllowing,

same ac number is assigned to two different states..with possible different dist

[2017-03-31 12:18] nissabasim opened #32 "Maps of Himachal Pradesh"
None of the maps of Himachal Pradesh is loading.

[2017-03-31 14:44] chinuhub commented on #32
In Himachal's shapefile there is no column named as 'ASSEMBLY'. This breaks the code because we merge the data with map based on this key. In that file, the column was named as 'ASSEMBLY_N'. For the time being I have changed the code to handle this but we need to change the shapefile (by correcting this attribute back to 'ASSEMBLY'). In this way there will be a uniformity in the column names of al

[2017-04-01 10:04] yaminiagarwal opened #33 "Incorrect Seat Share Maps of Bihar AE"
STEP 1- Open Data Visualization in Election Data tab of Homepage
STEP 2- Select Bihar in the State Tab
STEP 3- Select "Party Wise Seat Share "/ "Vote Share"
The graph displays that no party has a seat share above 20% which is incorrect
![image](https://cloud.githubusercontent.com/assets/26666904/24577723/ade69950-16f0-11e7-85bd-6e268885321c.png)

[2017-04-01 12:55] yaminiagarwal opened #34 "Voter Turnout in Madras, Mizoram, Tripura"
Step 1- Open Data Visualization from the Election Data Tab on Homepage
Step 2- Select Madras and Voter Turnout in the Visualization Type
Problem- The female tab in the chart is missing
or
Step 2- Select Mizoram and Voter Turnout in the Visualization Type
Problem- The female tab in 1984 is missing
or
Step 2- Select Tripura  and Voter Turnout in the Visualization Type
Problem- The female tab in 1967

[2017-04-01 13:11] yaminiagarwal commented on #18
Yes the tab is removed. I have reviewed the issue and it no longer persists.

[2017-04-01 13:13] yaminiagarwal commented on #24
The problem still persists.
![image](https://cloud.githubusercontent.com/assets/26666904/24579034/0a41f9c8-170b-11e7-9d67-8f16dac5e61b.png)

[2017-04-01 13:14] yaminiagarwal commented on #26
Checked this issue and it no longer persists.

[2017-04-01 13:25] yaminiagarwal commented on #25
Checked. This issue doesn't persist anymore

[2017-04-01 13:26] yaminiagarwal commented on #14
Checked. It is working now.

[2017-04-01 14:18] yaminiagarwal opened #35 "Issues of white areas or error message in "Constituency Type wise Winners:Map""
Step 1- Go to the Data Visualization of Election Data tab on Homepage
Step 2- Select any state (AP,AP, Assam, Delhi, J&K, Kerela, Maharashtra, Manipur, Mizoram, Nagaland, Odisha, Punjab, Rajasthan, Sikkim, West Bengal) and "Constituency Type wise Winners:Map"
Problem- There are white areas in the map; the legend is not uniform
or
Step 2- Select any state(Madras, Mysore, Goa Daman & Diu, Puducherry

[2017-04-01 14:35] yaminiagarwal opened #36 "Issues of White areas and error in "Gender wise party Winners:Map""
Step 1- Go to the Data Visualization of Election Data tab on Homepage
Step 2- Select any state (AP,AP,Assam,Delhi,Gujarat,Haryana,J&K,Kerala,Maharashtra,Mizoram,Odisha,Punjab,Rajasthan,Sikkim,West Bengal) and "Gender wise party Winners:Map"
Problem- There are white areas in the map; the legend is not uniform
or
Step 2- Select any state(Madras, Mysore, Goa Daman & Diu, Puducherry) and "Gender wise

[2017-04-02 09:25] chinuhub commented on #24
![git issue](https://cloud.githubusercontent.com/assets/9635185/24585957/53877014-17b4-11e7-902a-0cebf800fdee.png)
The legends are displaying properly to me. @yaminiagarwal  Can you please check again?

[2017-04-02 09:32] chinuhub commented on #33
@yaminiagarwal Can you please check it now? This issue was realted to the fact that in 2005 there were two elections and we were only using year as x-axis ticks. I updated it to show year(sa_no) as x-axis ticks.

[2017-04-03 05:43] chinuhub commented on #30
@Rajkamalsingh23, I changed the behavior of select all as and download button as requested. Please have a look.

[2017-04-03 05:50] chinuhub commented on #32
@nissabasim Could you please check if it has been fixed in the current deployment?

[2017-04-03 06:34] yaminiagarwal opened #37 "Issues of White area and error message in "Constituency wise party Winners:Map""
Step 1- Go to the Data Visualization of Election Data tab on Homepage
Step 2- Select any state (AP,AP,Assam,Delhi,Gujarat,J&K, Kerala, Maharashtra,Mizoram, Nagaland, Odisha,Punjab,Rajasthan, Sikkim,West Bengal) and "Constituency wise party Winners:Map"
Problem- There are white areas in the map; the legend is not uniform
or
Step 2- Select any state(Madras, Mysore, Goa Daman & Diu, Puducherry) and "

[2017-04-03 13:30] yaminiagarwal opened #38 "Issue of WHITE area and error message in "Winning margin of party Winners:Map""
Step 1- Go to the Data Visualization of Election Data tab on Homepage
Step 2- Select any state (AP,AP,Assam,Delhi,Goa, Gujarat,J&K, Mizoram, Nagaland, Odisha,Punjab,Rajasthan, Sikkim,West Bengal) and "Winning margin of party Winners:Map"
Problem- There are white areas in the map; the legend is not uniform
or
Step 2- Select any state(Madras, Mysore, Goa Daman & Diu, Puducherry) and "Winning margin

[2017-04-03 13:35] yaminiagarwal commented on #33
@chinuhub  Yes it looks like it is resolved.

[2017-04-03 13:35] #33 closed, assigned to chinuhub

[2017-04-07 10:58] surabhimitra opened #39 "Parsing Error - Column Sex"
In the Assembly Elections of the following states
 A) Haryana, Year - 2000
 B) Madhya Pradesh, Year - 2003
the Sex column denotes "NA" for one data point in each state.  Both data points should be "Male" according to the original ECI data. Changes need to be made in the primary file itself.

[2017-04-07 11:16] surabhimitra opened #40 "Cand_Type data Missing For 2017 Elections - Waiting for pdf's"
For the column Cand_Type, the data for the following states are missing - Uttarakhand, Manipur, Goa, Punjab and Uttar Pradesh. They are states that went to elections in 2017.
We are waiting for PDFs of these five that went to elections.

[2017-04-24 11:26] yaminiagarwal commented on #36
Issue of white area is resolved. However, the error message is still present.

[2017-04-24 12:12] hangal commented on #2
@nissabasim pls test and close if fixed.

[2017-04-24 12:17] nissabasim commented on #2
Fixed. Thanks!

[2017-04-24 12:17] #2 closed

[2017-04-24 12:17] hangal commented on #31
@chinuhub pls post a link to surveyofindia data.

@Rajkamalsingh23 can you talk to Francesca?

[2017-04-24 12:40] #9 closed, assigned to chinuhub

[2017-04-24 12:50] hangal commented on #12
@yaminiagarwal we verified this, and it seems to be fixed.
Closing it. Please test and re-open it if needed.

[2017-04-24 12:50] #12 closed, assigned to chinuhub

[2017-04-24 12:56] hangal commented on #13
@surabhimitra pls check and close if fixed.

[2017-04-24 14:11] Rajkamalsingh23 opened #41 "Vote share logic"
For calculating vote share across time we need to have the previous logic; total votes polled for a party/total votes polled in the election.

[2017-04-24 14:13] Rajkamalsingh23 opened #42 "Visualization change:"
We need to have a limit set on the number of parties that can be displayed in a graph. The limit is 10.

If the user selects anything more than 10, a pop up should be displayed saying. "Only 10 values can be selected for representation"

Party wise vote share:Chart for Andhra.

[2017-04-24 14:19] Rajkamalsingh23 opened #43 "New visualizations"
2 new visualizations are needed.

1. Party-wise vote share (contested). In a stand alone election we should be able to calculate vote share of a party only for the seats that they have contested.

The other vote share calculation will be called
Party-wise vote share (total)
This will include vote share for all seats, not just the one the party contested.

2. We need to add a strike rate visualizat

[2017-04-24 14:20] Rajkamalsingh23 opened #44 "Map download option"
We need to find a better way to be able to download the maps from Lok Dhaba. At this moment it is possible only in Mozilla, that also is a bit complicated.

Ideally, we should be able to download maps just like we can do graphs and charts.

[2017-04-24 14:33] Rajkamalsingh23 opened #45 "Time slider"
We should be able to select a range of years between 1962-2017.

As @chinuhub suggested that it should be continuous, we can always create a pop up if there is discontinuity in the selection of years from the user's end.

If there is any other way to sort this please let me know @hangal .

[2017-04-27 13:52] chinuhub commented on #11
Not fixed yet. It requires looking at leaflet library to display some message at the top right corner.

[2017-04-27 13:53] #13 closed, assigned to chinuhub

[2017-04-27 13:58] chinuhub commented on #28
Someone should certainly look at it.

[2017-04-27 14:12] chinuhub commented on #21
Messages in this issue and in #19, #22 and #25  seems to appear non-uniformly.  This need to be checked after fixing issue #6. If it still does not get fixed then we need to look further into them.

[2017-04-27 14:23] chinuhub commented on #45
We need to revisit this issue sometime later.

[2017-04-27 14:24] chinuhub commented on #44
We need to look at leaflet library/export widget to see if it can be added easily at the client side.

[2017-04-27 14:27] chinuhub commented on #43
I need to check it with the newly designed framework. I hope that it will be easier to create new visualizations there.

[2017-04-27 14:30] surabhimitra commented on #40
Data still not available on ECI website.

[2017-04-27 14:31] chinuhub commented on #42
Someone need to look into this.

[2017-04-27 14:45] chinuhub commented on #38
we don't have map files for puducherry. For other states it is not a problem as they ceased to exist by 2009 but Puducherry had election in 2011. Either we get it's map file or disable map options for this selection. I suggest to try and get it's shape file.

[2017-04-27 14:48] chinuhub commented on #37
white area is resolved. Cannot open data source problem (for puducherry is same as in #38 ).

[2017-04-27 14:49] chinuhub commented on #36
error message "Cannot open data source" problem (for puducherry) is same as in #38 .

[2017-04-27 14:49] chinuhub commented on #35
White area problem is resolved. error message "Cannot open data source" problem (for puducherry) is same as in #38 .

[2017-04-27 14:53] chinuhub commented on #34
The data is missing for these states/years in ae_voters_turnout.csv. @Rajkamalsingh23 , @nissabasim could you please look for the availability of this data?

[2017-04-27 15:10] surabhimitra commented on #39
Issue Resolved

[2017-04-27 15:10] #39 closed, assigned to chinuhub

[2017-04-28 11:01] Rajkamalsingh23 commented on #3
We can do this only when we have done the analysis of the data extensively.

This could be one of the projects for the new interns.

[2017-04-28 12:10] surabhimitra commented on #8
Issue resolved.

[2017-04-28 12:10] #8 closed, assigned to chinuhub

[2017-04-28 12:23] #20 closed, assigned to chinuhub

[2017-04-28 12:25] surabhimitra commented on #29
@nissabasim - can you please confirm and close the issue.

[2017-04-28 13:06] surabhimitra commented on #32
@nissabasim Can You please look into it

[2017-04-28 14:07] surabhimitra commented on #23
One part of the issue has been resolved.

[2017-07-14 07:55] tcpd opened #46 "Bypoll number column in primary data"
Bypoll number column needs to be added to all primary data.
Default should be 0.

Bypoll number increases per constituency within an assembly#.

[2017-08-01 11:31] nissabasim opened #47 "Mistakes in the Terms and Conditions on Lok Dhaba webpage"
Could we please update the Terms and Conditions on the Lok Dhaba web page to the following?

**Terms and Conditions**

Lok Dhaba is an online web interface provided by the Trivedi Centre for Political Data. In these terms of use of the data provided by the Centre, 'Data' includes all visualizations, texts, graphics and compilations of data and other material presented within the application. The u

[2017-08-10 10:44] Sudesh-Prakash-Singh opened #48 "Visualization - GE - Voter turnout timeline doesn't show up"
Visualization - GE - Voter turnout timeline doesn't show up.

Error : object 'm' not found

Check attached screenshot for details.
![screenshot from 2017-08-10 16-07-03](https://user-images.githubusercontent.com/19662760/29167137-db91755c-7de6-11e7-8ce8-72dbb426202f.png)

[2017-08-17 10:43] nissabasim opened #49 "Lok Dhaba_Kerala Nota Turnout Map"
Error: non-unique matches detected.

[2017-08-17 10:45] nissabasim opened #50 "Gujarat_Constituency wise party winners"
Error: No rows to aggregate

[2017-08-31 11:07] hangal opened #51 "Guj AE primary data changes"
From Gilles:
constituency <ANAND> is spelt as <ANAD> for 1967.
Same remark as earlier, for <SANAD> and <SANAND>

[2017-08-31 14:10] Sudesh-Prakash-Singh commented on #51
Fixed.
ANAD -> ANAND
SANAD -> SANAND
I have pushed the updated file to git repository. Please verify.

[2017-08-31 19:01] hangal commented on #51
Sudesh why is git show 9f11d9f6328d6d8f5a1b1f7bf2210ab77e9e3740
showing so many lines?
The ECO should change only the issue listed here, and nothing else.

[2017-08-31 19:11] Sudesh-Prakash-Singh commented on #51
@hangal That's correct. I have only fixed the listed issue. The log is just a bit descriptive, stating what was changed and where.

[2017-09-01 01:01] hangal commented on #51
Try running the above command and see how many lines have changed.
Only the relevant lines should have changed, nothing else!

[2017-09-01 16:01] Sudesh-Prakash-Singh commented on #51
Fixed Now.

[2017-09-04 08:19] hangal opened #52 "Lokdhaba: GA events and logging"
We would like to be able to trace what users are doing on the LD site.
e.g. which state selected, which type of viz selected, etc.
GA events can possibly be used for this.

[2017-09-04 08:21] hangal opened #53 "Need about page with source of data"
Among other things, the about page should mention how we obtained this data:

FRJ for pre-2004 assembly elections
ELM teams with open-refine for post-2004 assembly elections
Parsing of ECI PDF files for all GEs.

We should also mention the date of last update.

[2017-09-04 09:28] hangal opened #54 "Party colors not getting set in GE"
See image below.
Seems to work for AE, but not for GE.
Should be a quick fix, @chinuhub can you pls advise.

[2017-09-05 14:17] hangal commented on #53
If we incorporate caste data, etc from CJ/CSDS etc, it should also be attributed.

[2017-09-05 14:22] hangal opened #55 "Type based consistency checks from codebook.csv"
As discussed today with Chinmay and Mohit, checkTypes.R should be completed and added to the nightly check script.

It will also depend on files like StateNamesNormalized.csv and CodeBook.csv.
This will only do basic type checking.

[2017-09-05 14:26] hangal opened #56 "Nightly consistency checks"
There should be a script that runs every night on all states and GE data. Here are the steps:

a) checks out a fresh copy of the master branch of tcpd_data
b) runs consistency checks, which write out files with the results. Empty files indicate that the consistency check was run, but no problem was noticed.
c) compares consistency checks with "Golden output". This file is generated by running the

[2017-09-05 14:27] hangal opened #57 "Consistency checks to be available on LD portal"
The result of the consistency checks should be available on the LD portal.
This should be the result for the same version of the data as used on the LD portal.

There should be a tab at the top called "Quality checks" and an explanatory note on the top of the page, mentioning the purpose of this page, links to the scripts used, and asking for people to contact us if they spot any errors other than

[2017-09-05 14:29] hangal opened #58 "LD code to be updated based on new column names in data files"
see eco#9 in tcpd-data project. (Revamping column names)

[2017-09-06 13:17] Sudesh-Prakash-Singh opened #59 "LokDhaba url on TCPD website doesn't redirect to Lokdhaba home page."
LokDhaba url on TCPD website doesn't redirect to Lokdhaba home page.
![screenshot from 2017-09-06 18-45-45](https://user-images.githubusercontent.com/19662760/30113852-afadfffc-9333-11e7-9e3a-4a400e324bb0.png)

[2017-09-06 13:19] Sudesh-Prakash-Singh commented on #59
@mohitkharb Alternatively, can we resolve the url to redirect it to the appropriate page?

[2017-09-06 13:26] hangal commented on #59
I had put a forward just yesterday -- what happened?!

[2017-09-13 06:46] Sudesh-Prakash-Singh commented on #59
Test pass

[2017-09-13 06:46] #59 closed, assigned to sudesh-ashoka

[2017-09-18 06:49] hangal commented on #58
All scripts and tools and derived files need to be updated including:
- Surf
- mastersheets
- data download screen in LD
- CLEA generation script
- other scripts.

@gilkumar any others?

[2017-09-18 06:51] gilkumar commented on #58
None that I can think of right now.

Gilles Verniers
Assistant Professor of Political Science | Ashoka University
Co-Director, Trivedi Centre for Political Data
gilles.verniers@ashoka.edu.in <mailto:gilles.verniers@ashoka.edu.in> | +91 98109 56049 | www.ashoka.edu.in <http://www.ashoka.edu.in/>

[2017-09-18 06:59] hangal opened #60 "Browse data is not working on LokDhaba"
Browse data can be implemented very simply by using jquery datatables.

[2017-09-20 10:01] mohitkharb commented on #56
Done and Nightly files are getting generated in /home/ashoka/tcpd_data_consistency/ folder in "tcpd.ashoka.edu.in" server, with diff file being mailed every night 12 am to sudheendra and me.

[2017-10-04 14:37] Sudesh-Prakash-Singh commented on #48
Test Pass.

[2017-10-04 14:37] #48 closed, assigned to mohitkharb, sudesh-ashoka

[2017-10-04 22:37] #60 closed, assigned to hangal, mohitkharb

[2017-10-05 01:09] #58 closed, assigned to hangal, mohitkharb

[2017-10-05 01:09] #55 closed, assigned to hangal

[2017-10-05 01:10] #46 closed, assigned to mohitkharb

[2017-10-05 01:10] #56 closed, assigned to hangal

[2017-10-05 01:14] #30 closed, assigned to chinuhub

[2017-10-05 01:15] #29 closed, assigned to chinuhub

[2017-10-05 01:15] hangal commented on #28
Let's discuss this week.

[2017-10-05 01:18] #37 closed, assigned to chinuhub

[2017-10-05 01:18] #36 closed, assigned to chinuhub

[2017-10-05 01:18] #22 closed, assigned to chinuhub

[2017-10-05 01:19] #23 closed, assigned to chinuhub

[2017-10-05 01:22] hangal commented on #21
fixed now.

[2017-10-05 01:22] #21 closed, assigned to chinuhub

[2017-10-05 01:25] hangal opened #61 "Disable smooth scroll on maps"
The scroll to zoom on the LD maps is too jerky.

We can disable and leave the +/- option on.
If possible, we can leave pan enabled.
Let's discuss.

[2017-10-05 01:29] hangal opened #62 "Infinite loop of "Disconnected from server" messages"
Keep getting an infinite loop of this screen, it fades in and out with this message.

![screen shot 2017-10-05 at 6 56 38 am](https://user-images.githubusercontent.com/1018175/31207219-8dcbde54-a99a-11e7-8b8d-40006f78f05a.png)

[2017-10-05 01:32] hangal opened #63 "LD should have a way to copy permanent URL to a particular visualization"
For people to share visualizations or simply link to them, there should be a persistent URL associated with each view. (Need not have UX controls like zoom level, etc.)

If possible, this URL should be reflected in the location bar, but if not, there can be some UI element to say "Copy URL to clipboard".

Same thing applies for browse data, if possible: Link to a particular state of the table, wit

[2017-10-05 01:32] #19 closed, assigned to chinuhub

[2017-10-05 01:33] #15 closed, assigned to chinuhub

[2017-10-05 01:35] hangal commented on #6
solved to some extent, still have issues logged in #62. closing this and future disconnection problems will be tracked in #62

[2017-10-05 01:35] #6 closed, assigned to chinuhub

[2017-10-05 01:35] hangal commented on #4
not being planned.

[2017-10-05 01:35] #4 closed, assigned to chinuhub

[2017-10-05 01:38] hangal commented on #5
@mohitkharb pls look at this.

[2017-10-05 01:42] hangal commented on #61
Also, after using any zoom controls, the map heading, source, TCPD credit etc. disappears.

![image](https://user-images.githubusercontent.com/1018175/31207516-492fd744-a99c-11e7-965b-5abf3286acac.png)

[2017-10-05 05:11] chinuhub commented on #62
@mohitkharb Please look at #32 to solve this issue.

[2017-10-05 05:53] mohitkharb commented on #62
It seems that the column name for HP shapefile is "Assembly_N" instead of "Assembly" as in other State assembly files.
I am working on making same variable names in all state assembly files.

[2017-10-05 08:50] #62 closed, assigned to hangal

[2017-10-05 08:57] hangal commented on #32
@mohitkharb has resolved this, so closing.

[2017-10-05 08:57] #32 closed, assigned to chinuhub

[2017-10-05 09:02] hangal commented on #54
In GE party-wise winners map, multiple parties get mapped with the same color, which makes the map useless. Suggest, we sort the parties by #seats, and have only the top-10 checked. The remaining parties can be there, but unchecked, so interested users can still have access to them.

[2017-10-13 07:55] #50 closed, assigned to nissabasim

[2017-10-13 07:55] #49 closed, assigned to mohitkharb, nissabasim

[2017-10-13 07:56] #47 closed, assigned to nissabasim

[2017-10-17 11:01] nissabasim opened #64 "NOTA Turnout: MP"
While trying to generate the chart, the drop-down menu for the years doesn't appear. Instead, the interface allows you to write the year manually which I did but even then the map is not generated.

[2017-10-23 13:43] hangal opened #65 "Error in browsing lok dhaba"
Please see screenshot.

![image](https://user-images.githubusercontent.com/1018175/31892268-3c0ec5e6-b826-11e7-81b7-e8f447609847.png)

[2017-10-30 04:40] hangal commented on #64
@nissabasim does this still happen?

[2017-10-30 05:43] nissabasim commented on #64
We discovered that MP can't have a  NOTA map since NOTA  was only introduced in 2014 and the last MP election took place in 2013.

[2017-10-30 05:44] mohitkharb commented on #65
Its coming fine when I select, maybe its from selecting a range of sequences.
![ld_screenshot](https://user-images.githubusercontent.com/1709862/32156454-83b3f514-bd63-11e7-8681-7c935e1c0a3d.png)

[2017-10-30 06:01] hangal commented on #64
Can we give a sensible user message in this case, so the user doesn't get confused?

[2017-10-30 06:05] mohitkharb commented on #64
On it, Should I put "Only for post 2013 assemblies, as NOTA was introduced in 2014" ?

[2017-10-30 06:19] hangal commented on #64
I think we have to make this message appear any time the NOTA map is not available.

My suggestion would be to not make it specific to this election, but say something like:
NOTA was not an option in this election.

pls discuss with @gilkumar for exact wording.

[2017-10-30 06:23] hangal commented on #64
In fact, ideally, we would write this message in place of the years-dropdown itself.
"This map is not available for any year."

And the message above would appear in the map area if the user typed in an invalid dropdown.

[2017-10-30 06:23] mohitkharb commented on #64
Currently If we select the year in which NOTA was not present, the nota turnout map visualizations will throw an error, so for nota turnout map visualizations, I am passing input years above 2014 only.

[2017-11-22 17:25] girishbs123 opened #66 "Colours not changing in State Number of Candidates: Map"
![picture1](https://user-images.githubusercontent.com/32008174/33140901-6fa29342-cfd7-11e7-98e6-2e0c6e30f497.png)

As seen in the screenshot, deselecting 1 or 2 of the checkboxes does not change the corresponding constituency colours to white as it happens in other map visualizations

[2017-11-23 12:48] nissabasim opened #67 "Can we have a 'select all' option for parties?"
For visualizations like party-wise vote share, it is really cumbersome to tick every party-name.

[2017-11-23 12:52] nissabasim opened #68 "Charts should fit on the landing page."
As of now, we have to scroll half a page to be able to see the bottom half of any chart. We should try to have it on the landing page itself.

[2017-11-23 12:56] nissabasim opened #69 "'Vote Share of Party Winners' map"
1. Create smaller intervals so that differences across constituencies are visible?
2. Change the colour gradient to a more distinguishable scheme?

[2017-11-23 13:00] nissabasim opened #70 "Number of candidates - map"
There is a really odd colour codification. Pls take a look?

[2017-11-23 13:05] nissabasim opened #71 "Can we have a pop-up message for NOTA?"
We should have a message saying that NOTA was only implemented in 2013.

[2017-11-23 13:09] nissabasim opened #72 "constituency type map"
It would be great if we could change the colours here.

[2017-12-14 12:38] hangal commented on #54
Not working for AE either.
See 2014, Andhra Pradesh.

![image](https://user-images.githubusercontent.com/1018175/33992713-ad030fae-e0f9-11e7-9be8-532bfb70d29f.png)

[2017-12-14 12:38] hangal opened #73 "Legend is getting cutoff"
See AE, Andhra Pradesh, 2014.
Top parties' names are not present.

![image](https://user-images.githubusercontent.com/1018175/33992753-cae05428-e0f9-11e7-90a2-89ba208a5e07.png)

[2017-12-14 12:40] hangal commented on #73
also pls introduce a space after the party name in the legend and before the opening parenthesis.
e.g. TRS(63) -> TRS (63)

opening paren should always have a space before it.

[2017-12-14 12:43] hangal opened #74 "Please change fonts to serif."
It looks odd that the text on the page is both in serif and sans-serif.
Suggest changing all fonts to sans-serif.

![image](https://user-images.githubusercontent.com/1018175/33992915-66587368-e0fa-11e7-8b0e-0b7ee2133b6d.png)

[2017-12-14 12:46] hangal commented on #74
This is how it should look with all sans-serif.

![image](https://user-images.githubusercontent.com/1018175/33993023-d7e4cf2c-e0fa-11e7-9667-a04060dd56e4.png)

[2017-12-14 12:54] hangal commented on #41
@gilkumar is this still an issue?
Pls check and let @mohitkharb know.

[2017-12-14 12:56] hangal commented on #41
Question is whether vote share is defined as
votes polled by party/valid votes in ACs/PCs contested by that party
or
votes polled by party/valid votes in all ACs/PCs in that election.

[2017-12-14 13:01] hangal opened #75 "Party wise vote share graph"
On hover over a data point, it shows:
![image](https://user-images.githubusercontent.com/1018175/33993493-c3d386c0-e0fc-11e7-990c-c49099bfb009.png)

The hover text should say:
1975 (#4) 39.7% of valid votes in 25 constituencies contested by BJS.
The entire text above should be in the orange background. Right now the BJS is outside.

[2017-12-14 13:06] hangal commented on #42
keep it on hold for now.

[2017-12-14 13:13] gilkumar commented on #41
Vote share is total vote polled by a party (or a candidate) against the total number of votes polled in that election (or in a seat).

Gilles Verniers
Assistant Professor of Political Science | Ashoka University
Co-Director, Trivedi Centre for Political Data
gilles.verniers@ashoka.edu.in <mailto:gilles.verniers@ashoka.edu.in> | +91 98109 56049 | www.ashoka.edu.in <http://www.ashoka.edu.in/>

[2017-12-14 13:22] hangal commented on #51
data issue. moved to tcpd_data, not lokdhaba.

[2017-12-14 13:22] #51 closed, assigned to hangal

[2017-12-14 13:23] hangal commented on #53
We should add disclaimers.
@gilkumar can you suggest text for this.

[2017-12-14 13:25] hangal commented on #54
@mohitkharb will fix it tonight.
@nissabasim and ELM students, please test this thoroughly.

[2017-12-14 13:33] hangal commented on #64
Can't fix it in time for the Guj results, will do it later.

@gilkumar

[2017-12-14 13:58] nissabasim commented on #69
1. Change name to 'Vote share of winners'
2. The hover should show the voting percentage
3. Scrap the selection of parties
4. Levels have to be changed:
0-20
20-30
30-40
40-50
50-60
Above 60

[2017-12-14 14:00] nissabasim commented on #70
Pls use blue.

[2017-12-14 14:02] hangal commented on #73
pls fix #61 first, it might fix this too.

[2017-12-14 14:18] hangal opened #76 "Name and order of visualizations"
Please note the exact spelling and order of the vis. dropdown:
(@gilkumar pls add comments if you have any)

Chart: Voter turnout
Chart: Party vote share (contested)
Chart: Party vote share (all seats)
Chart: Party seat share
Chart: Parties contested and represented
Chart: Candidates contested / deposit saved

Map: Constituency type
Map: Number of candidates
Map: Voter turnout
Map: Winners by part

[2017-12-15 04:53] mohitkharb commented on #76
I have updated the dropdown in assembly elections tab

[2017-12-15 04:55] mohitkharb commented on #75
this is the default plotly way of showing hover information, i will check on it later again

[2017-12-15 05:02] hangal commented on #75
no worries. it is not the top priority at this moment.

[2017-12-15 06:09] mohitkharb commented on #41
i have introduced two viz for vote share for assembly elections
1 voteshare(contested seats)
2 voteshare(all seats)

[2017-12-15 10:54] mohitkharb commented on #65
This error comes randomly sometimes. Shall we change the priority of this issue?
cant do much about it as its a pre-built library, and not sure about the origin of error

[2017-12-15 12:01] mohitkharb commented on #61
i have set minimum and maximum zoom levels for all maps.

[2017-12-15 12:07] mohitkharb commented on #61
@hangal Should dragging(panning) also be deactivated

[2017-12-15 12:09] mohitkharb commented on #71
mentioned in #64

[2018-01-02 05:49] hangal commented on #76
Thanks, @mohitkharb .
Please remove the extra space before the colon in each title
e.g. Chart: Voter turnout
instead of
Chart : Voter turnout

[2018-01-02 05:51] hangal commented on #74
We have moved all fonts to serif instead of sans-serif?
Anyway, it's at least consistent now and better than before.
@gilkumar any preferences for serif vs sans?

[2018-01-02 05:55] hangal commented on #61
@mohitkharb it is still too jerky, no? has there been any change?
panning should be retained, I think.

[2018-01-02 05:55] hangal commented on #73
legend looks nice now. thanks.

[2018-01-02 05:55] #73 closed, assigned to mohitkharb

[2018-01-02 05:56] hangal commented on #65
ok, closing now.

[2018-01-02 05:56] #65 closed, assigned to mohitkharb

[2018-01-02 05:59] hangal commented on #76
Also, GE doesn't have map or chart in front of it.
(the visualizations, and their order and names should be consistent with AE as much as possible)

![image](https://user-images.githubusercontent.com/1018175/34475236-2945c420-efb0-11e7-87a1-6cb90e0a4990.png)

[2018-01-02 06:01] #11 closed, assigned to chinuhub

[2018-01-02 06:01] gilkumar commented on #74
My wife says Sans Serif, always.
I always trust her on fonts issues.

Gilles

Gilles Verniers
Assistant Professor of Political Science | Ashoka University
Co-Director, Trivedi Centre for Political Data
gilles.verniers@ashoka.edu.in <mailto:gilles.verniers@ashoka.edu.in> | +91 98109 56049 | www.ashoka.edu.in <http://www.ashoka.edu.in/>

[2018-01-02 06:03] hangal commented on #5
@mohitkharb Voter turnout map does not show voter turnout on hover. See below.

![image](https://user-images.githubusercontent.com/1018175/34475286-a2ed532e-efb0-11e7-8dbc-7d709c7c448d.png)

The popup should display the turnout percentage as well, so a user can get to the exact turnout for a constituency.

[2018-01-02 06:03] gilkumar commented on #76
Yes,

Also, we should give the possibility to visualise GE data by state.

Ideally, we would want people to be able to compare GE and AE maps and charts for both types of elections.

Gilles Verniers
Assistant Professor of Political Science | Ashoka University
Co-Director, Trivedi Centre for Political Data
gilles.verniers@ashoka.edu.in <mailto:gilles.verniers@ashoka.edu.in> | +91 98109 56049 | www.

[2018-01-02 06:05] hangal commented on #28
@mohitkharb can you implement an about page, which has:
version of lokdhaba software running (git commit id, date)
version of data being used. (git commit id, date)

[2018-01-02 06:06] gilkumar commented on #76
I can’t download the GE data from LokDhaba. Too heavy?

Gilles Verniers
Assistant Professor of Political Science | Ashoka University
Co-Director, Trivedi Centre for Political Data
gilles.verniers@ashoka.edu.in <mailto:gilles.verniers@ashoka.edu.in> | +91 98109 56049 | www.ashoka.edu.in <http://www.ashoka.edu.in/>

[2018-01-02 06:21] mohitkharb commented on #74
The lokdhaba code earlier had 'Droid serif' font, I had made them same everywhere.
I am sorry my knowledge of fonts is week so I could not figure it out, I will resolve this now.

[2018-01-02 06:23] mohitkharb commented on #76
I had changed earlier for AE only, will update the same for GE now.
The data downloader is working for GE, there might have been some network problem earlier.

[2018-01-02 06:33] hangal commented on #74
Let's go with sans-serif. HelveticaNeue is generally safe.
please factor it out so it's easy to change across the site at any time.

On Tue, Jan 2, 2018 at 11:51 AM, Mohit Kumar <notifications@github.com>
wrote:

[2018-01-02 11:29] mohitkharb commented on #54
updated, please test

[2018-01-02 11:29] #54 closed, assigned to mohitkharb

[2018-01-02 11:30] mohitkharb commented on #28
I ll work on it.

[2018-01-05 09:51] mohitkharb commented on #74
@hangal : I have updated, please check.

[2018-01-05 09:51] mohitkharb commented on #76
updated.

[2018-01-05 09:53] #43 closed, assigned to mohitkharb

[2018-01-05 09:53] #41 closed, assigned to mohitkharb

[2018-01-05 09:56] mohitkharb commented on #5
@hangal : updated.

[2018-01-05 10:20] mohitkharb commented on #61
@hangal : i have resolved this, can you please check.

[2018-01-05 10:53] mohitkharb commented on #71
updated
![screenshot from 2018-01-05 16 17 40](https://user-images.githubusercontent.com/1709862/34606260-b915095e-f234-11e7-88d3-dffbed3151d9.png)

[2018-01-06 16:19] #64 closed, assigned to mohitkharb

[2018-01-06 16:20] #72 closed, assigned to mohitkharb

[2018-01-06 16:21] #69 closed, assigned to mohitkharb

[2018-01-06 16:35] #71 closed, assigned to mohitkharb

[2018-01-06 16:35] #70 closed, assigned to mohitkharb

[2018-01-06 16:38] #68 closed, assigned to mohitkharb

[2018-01-06 16:45] nissabasim opened #77 "Parties contested and represented in the Visualisation type menu"
Just a minor glitch. The menu says -
Chart: Parties contested and represented: chart

Let's scrap the 'chart' at the end.

Thanks.

[2018-01-08 06:55] mohitkharb commented on #7
Updated now

[2018-01-08 07:31] mohitkharb commented on #67
Wouldnt it be cumbersome to have all parties selected in the starting only, We can auto select the top 6 parties instead.
![screenshot from 2018-01-08 13 00 41](https://user-images.githubusercontent.com/1709862/34662075-f62a9138-f473-11e7-966e-fed5b02d6904.png)

[2018-01-08 07:45] hangal commented on #67
Good idea.

On Mon, Jan 8, 2018 at 1:01 PM, Mohit Kumar <notifications@github.com>
wrote:

[2018-01-08 08:25] hangal commented on #76
@mohitkharb seems like GE still does not have all the maps.
![image](https://user-images.githubusercontent.com/1018175/34663170-682b447e-f47b-11e7-8382-a46ea51fe2f3.png)

$2. It takes a while to load. Can you characterize how many MBs is the download?
We need to put a "Loading" spinner on the map side, otherwise user has no clue what is going on.

$3. Even if uncheck BJP, it remains on the map. (I

[2018-01-22 07:22] #74 closed, assigned to mohitkharb

[2018-01-24 16:28] hangal opened #78 "browse data: make candidate name field wider"
This makes it hard to see when filtering:

![image](https://user-images.githubusercontent.com/1018175/35343831-9a43e640-0151-11e8-91f4-fbc807377a40.png)

[2018-02-02 08:28] mohitkharb commented on #78
The current DataTables library is not supporting the column width parameters.  i have dropped a mail to developers and waiting for their reply.

[2018-02-02 12:07] hangal commented on #78
Can we get into the JS level? I know how to change it if we can.

On Fri, Feb 2, 2018 at 8:28 AM, Mohit Kumar <notifications@github.com>
wrote:

[2018-03-26 10:03] hangal commented on #76
fixed.

[2018-03-26 10:03] #76 closed, assigned to mohitkharb

[2018-05-13 12:34] nissabasim opened #79 "Repetition in Bihar Data"
There is a male and female Renu Kumari at position 1 for 2005 in Kishanganj constituency.

![image](https://user-images.githubusercontent.com/26618099/39967393-ec80c4a6-56d7-11e8-97d9-e72b5aff3302.png)

[2018-11-07 04:45] gilkumar opened #80 "Gilkumar"
could we have a map that shows flipped seats for elections? Like this one: https://edition.cnn.com/election/2018/results/house
Generally speaking, we should have comparative maps and visualisations for seats that change hands (part of the incumbency mapping). We could create a variable that marks seats as 'hold' or 'flipped', irrespective of the candidate (that would be party-wise incumbency).

[2019-02-21 15:30] hangal opened #81 "Lokdhaba Maps"
1. Would be good to have state name on GE map.

![image](https://user-images.githubusercontent.com/1018175/53180512-b4fce400-361b-11e9-82fd-662cc0df90bc.png)

2. There should be a party-wise map for current sitting MPs/MLAs (factoring in bypolls).

3. There should be no space before the colon, exactly one space after it in the hover.

[2021-03-12 04:53] ananay95 opened #82 "Map : Constituency Type sometime breaks"
Link - https://lokdhaba.ashoka.edu.in/data-vis?et=GE&st=Lok_Sabha&viz=winnerCasteMap&an=16